#encabezadoPrincipal {
    background-color: #0d0d0e;
    color: rgb(68, 64, 64);
    padding-bottom: 0px;
    background-color: #eaeaf1;
  }
  #menu {
    /*background-color: rgb(79, 80, 74);*/
    color: white;
  }
  #naveg,
  #encabezadoPrincipal {
    padding: 2px;
    font-size: 20px;
    font-family: Arial Narrow;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.filtrado h2{
    color: #2B4D04;
    font-family: Arial Narrow;
}

.formularios {
    padding: 20px;
    padding-right: 0px;
    width: 90%;
    margin: auto;
    font-family: Arial Narrow;
    font-size: 15px;
    color: #2B4D04;
}

.filtra{
    background-color: white;
    padding-bottom: 35px;
    margin: 0PX;
}








/*
!!!!
This pen is being refactored
!!!!
*/

/*
=====
DEPENDENCES
=====
*/

.r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
  }
  
  
  p:not([class]){
    line-height: var(--cssTypographyLineHeight, 1.78);
    margin-top: var(--cssTypographyBasicMargin, 1em);
    margin-bottom: 0;
  }
  
  p:not([class]):first-child{
    margin-top: 0;
  }
  
  /*
  text component
  */
  
  .text{
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);  
  }
  
  /*
  time component
  */
  
  /*
  core styles
  */
  
  .time{
    display: var(--timeDisplay, inline-flex);
  }
  
  /*
  extensions
  */
  
  .time__month{
    margin-left: var(--timelineMounthMarginLeft, .25em);
    font-family: Arial Narrow;
  }
  
  /*
  skin
  */
  
  .time{
    padding: var(--timePadding, .25rem 1.25rem .25rem);
    background-color: 
  var(--timeBackgroundColor, #2B4D04);
    font-size: var(--timeFontSize, 2.2rem);
    font-family: Arial Narrow;
    font-weight: var(--timeFontWeight, 700);
    text-transform: var(--timeTextTransform, uppercase);
    color: white;
  }
  
  /*
  card component
  */
  
  /*
  core styles
  */
  
  .card{
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
  }
  
  .card__content{
    margin-top: var(--cardContentMarginTop, .5rem);
  }
  
  /*
  skin
  */
  
  .card{
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: var(--timelineCardBackgroundColor, #e2f0d2);
    font-family: Arial Narrow;
  }
  
  /*
  extensions
  */
  
  .card__title{
    --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
    font-size: var(--cardTitleFontSize, 2.25rem);
    text-transform: uppercase;
  }
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .timeline{
    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
  }
  
  /*
  1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
  */
  
  .timeline__year{
    margin-bottom: 1.25rem; /* 1 */
  }
  
  .timeline__cards{
    display: var(--timeloneCardsDisplay, grid);
    grid-row-gap: var(--timeloneCardsGap, 1.5rem);
  }
  
  
  /*
  =====
  SKIN
  =====
  */
  
  .timeline{
    --uiTimelineMainColor: var(--timelineMainColor, #2B4D04);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #2B4D04);
  
    border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .timeline__year{
    --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: var(--timelineYearFontWeight, 400);
  }
  
  .timeline__card{
    position: relative;
    margin-left: var(--timelineCardLineGap, 1rem);
  }
  
  /*
  1. Stoping cut box shadow
  */
  
  .timeline__cards{
    overflow: hidden;
    padding-top: .25rem; /* 1 */
    padding-bottom: .25rem; /* 1 */
  }
  
  .timeline__card::before{
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
  
    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  /**/
  .timeline{
    
    --timelineMainColor: #2B4D04;
    padding: 2px;
    font-size: 17px;
    font-family: Arial Narrow;
    width:100%;
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    color: #222;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  p:last-child{
    margin-bottom: 5;
  }
  
  .page{
    max-width: 70rem;
    padding: 5rem 2rem 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .substack{
    border:1px solid #EEE; 
    background-color: #2B4D04;
    width: 100%;
    max-width: 480px;
    height: 280px;
    margin: 1rem auto;;
  }
  
  
  .linktr{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    text-align: center;
  }
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }