{% extends 'pgComunes/base.html'%}
{% block content %}
{{super()}}
<div class="filtra">
    <div class="container text-center">
        <h2><b>FILTRADO DE CAMBIOS</b></h2>
    </div>
    <form action="/filtrarEventos" method="post" class="formularios" enctype="multipart/form-data">
        <input type="hidden" name="cuenta" id="cuenta" value="{{cuenta}}" readonly />
        <div class="form-group">

            <label class="control-label col-sm-1" for="user">Filtrado por usuario: </label>
            <div class="col-sm-2">
                <select class="form-control" id="user" name="user" required>
                    <option value="" selected disabled>Selecciona</option>
                    <option value="" >Todos los usuarios</option>
                    <option value="cecilia.rodriguez" >cecilia.rodriguez</option>
                </select>
            </div>

            <label class="control-label col-sm-1" for="evento">Filtrado por evento: </label>
            <div class="col-sm-2">
                <select class="form-control" id="evento" name="evento"  required>
                    <option value=""disabled>Selecciona</option>
                    <option value="">Todos los eventos</option>
                    {%for event in eventos%}
                        {%if event == even%}
                            <option value="{{even}}" selected>{{even}}</option>
                        {%else%}
                            {%if event == "EC2"%}
                                <option value="{{event}}" class="category">{{event}}</option>
                            {%else%}
                                {%if event == "EBS"%}
                                    <option value="{{event}}" class="category">{{event}}</option>
                                {%else%}
                                    {%if event == "IAM"%}
                                        <option value="{{event}}" class="category">{{event}}</option>
                                    {%else%}
                                        {%if event == "RDS"%}
                                            <option value="{{event}}" class="category">{{event}}</option>
                                        {%else%}
                                            {%if event == "S3"%}
                                                <option value="{{event}}" class="category">{{event}}</option>
                                            {%else%}
                                                {%if event == "ELB"%}
                                                    <option value="{{event}}" class="category">{{event}}</option>
                                                {%else%}
                                                    {%if event == "LAMBDA"%}
                                                        <option value="{{event}}" class="category">{{event}}</option>
                                                    {%else%}
                                                        {%if event == "CLOUDTRAIL"%}
                                                            <option value="{{event}}" class="category">{{event}}</option>
                                                        {%else%}
                                                            {%if event == "GUARDDUTTY"%}
                                                                <option value="{{event}}" class="category">{{event}}</option>
                                                            {%else%}
                                                                {%if event == "VPC"%}
                                                                    <option value="{{event}}" class="category">{{event}}</option>
                                                                {%else%}
                                                                    {%if event == "ROUTE53"%}
                                                                        <option value="{{event}}" class="category">{{event}}</option>
                                                                    {%else%}
                                                                        <option value="{{event}}">{{event}}</option>
                                                                    {%endif%}
                                                                {%endif%}
                                                            {%endif%}
                                                        {%endif%}
                                                    {%endif%}
                                                {%endif%}
                                            {%endif%}
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                            {%endif%}
                        {%endif%}
                    {%endfor%}
                                <!--<option value="">Todos los eventos</option>
                                <option value="" disabled class="category">EC2</option>
                                <option value="RunInstances" >RunInstances</option>
                                <option value="RebootInstances" >RebootInstances</option>
                                <option value="StartInstances" >StartInstances</option>
                                <option value="StopInstances" >StopInstances</option>
                                <option value="TerminateInstances" >TerminateInstances</option>
                                <option value="CreateSecurityGroup" >CreateSecurityGroup</option>
                                <option value="DeleteSecurityGroup" >DeleteSecurityGroup</option>
                                <option value="RevokeSecurityGroupEgress" >RevokeSecurityGroupEgress</option>
                                <option value="RevokeSecurityGroupIngress" >RevokeSecurityGroupIngress</option>
                                <option value="ModifyInstanceAttribute" >ModifyInstanceAttribute</option>
                                <option value="" disabled class="category">EBS</option>
                                <option value="AttachVolume" >AttachVolume</option>
                                <option value="DetachVolume" >DetachVolume</option>
                                <option value="DeleteVolume" >DeleteVolume</option>
                                <option value="DeleteSnapshot" >DeleteSnapshot</option>
                                <option value="DeregisterImage" >DeregisterImage</option>
                                <option value="" disabled class="category">IAM</option>
                                <option value="CreatePolicy" >CreatePolicy</option>
                                <option value="CreateRole" >CreateRole</option>
                                <option value="CreateGroup" >CreateGroup</option>
                                <option value="CreateUser" >CreateUser</option>
                                <option value="CreateInstanceProfile" >CreateInstanceProfile</option>
                                <option value="DeleteGroup" >DeleteGroup</option>
                                <option value="DeletePolicy" >DeletePolicy</option>
                                <option value="DeleteRole" >DeleteRole</option>
                                <option value="DeleteUser" >DeleteUser</option>
                                <option value="CreateAccessKey" >CreateAccessKey</option>
                                <option value="DeleteAccessKey" >DeleteAccessKey</option>
                                <option value="UpdateAccessKey" >UpdateAccessKey</option>
                                <option value="DetachGroupPolicy" >DetachGroupPolicy</option>
                                <option value="DetachRolePolicy" >DetachRolePolicy</option>
                                <option value="DetachUserPolicy" >DetachUserPolicy</option>
                                <option value="PutGroupPolicy" >PutGroupPolicy</option>
                                <option value="PutRolePolicy" >PutRolePolicy</option>
                                <option value="PutUserPolicy" >PutUserPolicy</option>
                                <option value="" disabled class="category">RDS</option>
                                <option value="CreateDBCluster" >CreateDBCluster</option>
                                <option value="CreateDBInstance" >CreateDBInstance</option>
                                <option value="CreateDBSecurityGroup" >CreateDBSecurityGroup</option>
                                <option value="CreateDBClusterSnapshot" >CreateDBClusterSnapshot</option>
                                <option value="DeleteDBCluster" >DeleteDBCluster</option>
                                <option value="DeleteDBInstance" >DeleteDBInstance</option>
                                <option value="DeleteDBSnapshot" >DeleteDBSnapshot</option>
                                <option value="DeleteDBSecurityGroup" >DeleteDBSecurityGroup</option>
                                <option value="DeleteDBClusterSnapshot" >DeleteDBClusterSnapshot</option>
                                <option value="ModifyDBCluster" >ModifyDBCluster</option>
                                <option value="ModifyDBInstance" >ModifyDBInstance</option>
                                <option value="ModifyDBSubnetGroup" >ModifyDBSubnetGroup</option>
                                <option value="RestoreDBInstanceFromDBSnapshot" >RestoreDBInstanceFromDBSnapshot</option>
                                <option value="RebootDBInstance" >RebootDBInstance</option>
                                <option value="" disabled class="category">S3</option>
                                <option value="CreateBucket" >CreateBucket</option>
                                <option value="DeleteBucket" >DeleteBucket</option>
                                <option value="DeleteBucketPolicy" >DeleteBucketPolicy</option>
                                <option value="DeleteBucketLifecycle" >DeleteBucketLifecycle</option>
                                <option value="PutBucketAcl" >PutBucketAcl</option>
                                <option value="PutBucketPolicy" >PutBucketPolicy</option>
                                <option value="PutBucketLifecycle" >PutBucketLifecycle</option>
                                <option value="" disabled class="category">ElasticLoadBalancer</option>
                                <option value="CreateLoadBalancer" >CreateLoadBalancer</option>
                                <option value="DeleteLoadBalancer" >DeleteLoadBalancer</option>
                                <option value="RegisterTargets" >RegisterTargets</option>
                                <option value="CreateTargetGroup" >CreateTargetGroup</option>
                                <option value="DeleteTargetGroup" >DeleteTargetGroup</option>
                                <option value="DeregisterTargets" >DeregisterTargets</option>
                                <option value="ModifyTargetGroup" >ModifyTargetGroup</option>
                                <option value="" disabled class="category">Lambda</option>
                                <option value="DeleteFunction20150331" >DeleteFunction20150331</option>
                                <option value="" disabled class="category">Cloudtrail</option>
                                <option value="StopLogging" >StopLogging</option>
                                <option value="" disabled class="category">Guardduty</option>
                                <option value="DeleteDetector" >DeleteDetector</option>
                                <option value="" disabled class="category">VPC</option>
                                <option value="CreateNetworkAcl" >CreateNetworkAcl</option>
                                <option value="DeleteNetworkAcl" >DeleteNetworkAcl</option>
                                <option value="DeleteNetworkAclEntry" >DeleteNetworkAclEntry</option>
                                <option value="FaltaModificar" >FaltaModificar</option>
                                <option value="" disabled class="category">Route53</option>
                                <option value="ChangeResourceRecordSets" >ChangeResourceRecordSets</option>
                                <option value="DeleteHealthCheck" >DeleteHealthCheck</option>-->
                </select>
            </div>

            <label class="control-label col-sm-1" for="dias">Filtrado por Fecha: </label>
            <div class="col-sm-2">
                <!--<label class="control-label col-sm-1" for="fechaInicio">Inicio: </label>-->
                <input class="form-control" type="date" name="fechaInicio" id="fechaInicio" 
                    required value="{{fs}}" min="2022-06-18" max="{{hoy}}"/>
            </div>
            <div class="col-sm-2">
            <!-- <label class="control-label col-sm-1" for="fechafin">Fin: </label>-->
                <input class="form-control" type="date" name="fechafin" id="fechafin" 
                    required value="{{ahora}}" min="2022-06-18" max="{{hoy}}"/>
            </div>
            
        </div>

        <!--<a class="btn btn-success" href="/filtradoFecha/" >Aplicar el filtro</a>-->
        <button type="submit" class="btn btn-success">Aplicar y filtrar</button>
    </form>
</div>



<div class="page">
    <div class="timeline">
      <div class="timeline__group">
        <span class="timeline__year time" aria-hidden="true">{{fs}}</span>
        <br>
        <div class="timeline__cards">
        
        {%for c in cambios%}    
          {%if c['Usuario']==""%}
          <!--En este caso se trata de un rol como mismos los servicios al realizar un cambio-->
          <div class="timeline__card card">
            <header class="card__header">
            <time class="time" datetime="{{c['Fecha']}}">
                <span class="time__day">{{c['Fecha']}}</span>
            </time>
            <h2 class="card__title r-title"><b>"{{c['Evento']}}"</b></h2>
            </header>
            <div class="card__content">
            <p>En la región: <b>"{{c['Region']}}"</b>, se realizó el evento de nombre: <b>"{{c['Evento']}}"</b> por el rol: <b>"{{c['Rol']}}"</b></p>
            </div>
           </div> 
          {%else%}
            <div class="timeline__card card">
                <header class="card__header">
                <time class="time" datetime="{{c['Fecha']}}">
                    <span class="time__day">{{c['Fecha']}}</span>
                </time>
                <h2 class="card__title r-title"><b>{{c['Evento']}}</b></h2>
                </header>
                <div class="card__content">
                <p>En la región: <b>"{{c['Region']}}"</b>, se realizó el evento de nombre: <b>"{{c['Evento']}}"</b> por el usuario: <b>"{{c['Usuario']}}"</b></p>
                </div>
            </div>
          {%endif%}
        {%endfor%}
    </div>
    <br>
    <span class="timeline__year time" aria-hidden="true">{{ahora}}</span>
  </div>


{%endblock content%}