{% extends 'pgComunes/base.html'%}
{% block content %}
{{super()}}
<div class="filtra">
    <div class="container text-center">
        <h2><b>FILTRADO DE CAMBIOS</b></h2>
    </div>
        <form action="/registrarEstado" method="post" class="formularios" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-sm-1" for="user">Filtrado por usuario: </label>
                <div class="col-sm-2">
                    <select class="form-control" id="user" name="user" required>
                        <option value="user" selected>Selecciona</option>
                    </select>
                </div>
                <label class="control-label col-sm-1" for="evento">Filtrado por evento: </label>
                <div class="col-sm-2">
                    <select class="form-control" id="evento" name="evento" required>
                        <option value="user" selected>Selecciona</option>
                    </select>
                </div>
                <label class="control-label col-sm-1" for="dias">Filtrado por Fecha: </label>
                <div class="col-sm-2">
                    <label class="control-label col-sm-1" for="fechaInicio">Inicio: </label>
                    <input class="form-control" type="date" name="fechaInicio" id="fechaInicio" 
                        required />
                </div>
                <div class="col-sm-2">
                    <label class="control-label col-sm-1" for="fechafin">Fin: </label>
                    <input class="form-control" type="date" name="fechafin" id="fechafin" 
                        required />
                </div>
            </div>
        </form>
</div>



<div class="page">
    <div class="timeline">
      <div class="timeline__group">
        <span class="timeline__year time" aria-hidden="true">{{fs}}</span>
        <div class="timeline__cards">
        
        {%for c in cambios%}    
          {%if c['Usuario']==""%}
          <!--En este caso se trata de un rol como mismos los servicios al realizar un cambio
          <div class="timeline__card card">
            <header class="card__header">
            <time class="time" datetime="{{c['Fecha']}}">
                <span class="time__day">{{c['Fecha']}}</span>
            </time>
            <h2 class="card__title r-title"><b>"{{c['Evento']}}"</b></h2>
            </header>
            <div class="card__content">
            <p>En la región: <b>"{{c['Region']}}"</b>, se realizó el evento de nombre: <b>"{{c['Evento']}}"</b> por el rol: <b>"{{c['Rol']}}"</b></p>
            </div>
           </div>--> 
          {%else%}
            <div class="timeline__card card">
                <header class="card__header">
                <time class="time" datetime="{{c['Fecha']}}">
                    <span class="time__day">{{c['Fecha']}}</span>
                </time>
                <h2 class="card__title r-title"><b>{{c['Evento']}}</b></h2>
                </header>
                <div class="card__content">
                <p>En la región: <b>"{{c['Region']}}"</b>, se realizó el evento de nombre: <b>"{{c['Evento']}}"</b> por el usuario: <b>"{{c['Usuario']}}"</b></p>
                </div>
            </div>
          {%endif%}
        {%endfor%}
    </div>
    <span class="timeline__year time" aria-hidden="true">{{ahora}}</span>
  </div>


{%endblock content%}